.newlogin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.newlogin-login {
  width: 100%;
  height: 713px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(210, 210, 210, 1);
}
.newlogin-group24 {
  top: 0px;
  left: 0px;
  width: 1491px;
  height: 715px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.newlogin-title-image {
  top: 0px;
  left: 0px;
  width: 698px;
  height: 836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.newlogin-image66 {
  top: -234px;
  left: -5px;
  width: 700px;
  height: 1040px;
  position: absolute;
}
.newlogin-text {
  top: 66px;
  left: 94px;
  color: rgba(255, 255, 255, 1);
  width: 512px;
  height: auto;
  position: absolute;
  font-size: 90px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-text02 {
  top: 197px;
  left: 56px;
  color: rgba(255, 255, 255, 1);
  width: 588px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-login-form {
  top: 0px;
  right: -44px;
  width: 849px;
  height: 853px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
}
.newlogin-loginbutton {
  top: 583px;
  left: 97px;
  width: 194px;
  height: 59px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
  background-color: rgba(0, 175, 102, 1);
}
.newlogin-text04 {
  top: 16px;
  left: 67px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-email {
  top: 231px;
  left: 97px;
  width: 594px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.newlogin-text06 {
  color: rgba(0, 0, 0, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-textinput {
  top: 49px;
  right: 0px;
  width: 100%;
  height: 60px;
  position: absolute;
}
.newlogin-password {
  top: 383px;
  left: 99px;
  width: 594px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.newlogin-text08 {
  color: rgba(0, 0, 0, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-textinput1 {
  top: 49px;
  right: 0px;
  width: 100%;
  height: 60px;
  position: absolute;
}
.newlogin-text10 {
  top: 155px;
  left: 467px;
  color: rgba(24, 176, 88, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-text12 {
  top: 157px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.newlogin-text14 {
  top: 82px;
  left: 99px;
  color: rgba(0, 0, 0, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
