.view-truck-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.view-truck-viewtruck {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 175, 102, 1);
}
.view-truck-icon {
  top: 54px;
  left: 37px;
  width: 50px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-line1 {
  top: 10px;
  left: 0px;
  width: 50px;
  height: 0px;
  position: absolute;
}
.view-truck-line2 {
  top: 0px;
  left: 10px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.view-truck-line3 {
  top: 20px;
  left: 10px;
  width: 30px;
  height: 0px;
  position: absolute;
}
.view-truck-text {
  top: 47px;
  left: 134px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-epsetting {
  top: 503px;
  left: 223px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.view-truck-text02 {
  top: 43px;
  left: 1293px;
  color: rgba(246, 245, 244, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-add {
  top: 43px;
  left: 1150px;
  width: 24.005821228027344px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-ellipse20 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.view-truck-group1 {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-line4 {
  top: 0px;
  left: 5px;
  width: 12px;
  height: 0px;
  position: absolute;
}
.view-truck-line5 {
  top: 5px;
  left: 12px;
  width: 12px;
  height: 0px;
  position: absolute;
}
.view-truck-ellipse25 {
  top: 37px;
  left: 1243px;
  width: 35px;
  height: 35px;
  position: absolute;
  border-color: transparent;
}
.view-truck-line11 {
  top: 30px;
  left: 1228px;
  width: 50px;
  height: 0px;
  position: absolute;
}
.view-truck-akariconsbell {
  top: 43px;
  left: 1189px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.view-truck-group {
  top: 2px;
  left: 3.999645709991455px;
  width: 16.000280380249023px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-vector {
  top: 2.9999823570251465px;
  left: 0px;
  width: 16px;
  height: 17px;
  position: absolute;
}
.view-truck-vector1 {
  top: 0px;
  left: 6.000354290008545px;
  width: 4px;
  height: 3px;
  position: absolute;
}
.view-truck-rectangle4 {
  top: 106px;
  left: 120px;
  width: 1226px;
  height: 950px;
  position: absolute;
  border-color: transparent;
  border-radius: 40px;
}
.view-truck-text04 {
  top: 282px;
  color: rgba(111, 111, 111, 1);
  right: 131px;
  width: 481px;
  height: auto;
  z-index: 100;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-image2 {
  top: 223px;
  left: 617px;
  width: 19px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.view-truck-image21 {
  top: 228px;
  left: 374px;
  width: 19px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.view-truck-text06 {
  top: 215px;
  left: 1025px;
  color: rgb(0, 0, 0);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text07 {
  top: 332px;
  left: 337px;
  color: rgb(130, 130, 130);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text08 {
  top: 332px;
  left: 645px;
  color: rgb(130, 130, 130);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text09 {
  top: 332px;
  left: 196px;
  color: rgb(130, 130, 130);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text10 {
  top: 332px;
  left: 489px;
  color: rgb(130, 130, 130);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-frame122 {
  top: 189px;
  left: 191px;
  width: 395px;
  height: 56px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-text11 {
  top: 9px;
  left: 51px;
  color: rgba(255, 255, 255, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-truck-bithreedotsvertical {
  top: 9.153985023498535px;
  left: 376.3720703125px;
  width: 18.62793731689453px;
  height: 4.129032135009766px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
}
.view-truck-frame123 {
  top: 189px;
  left: 445px;
  width: 395px;
  height: 56px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-text13 {
  top: 9px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-truck-bithreedotsvertical1 {
  top: 9.153985023498535px;
  left: 376.3720703125px;
  width: 18.62793731689453px;
  height: 4.129032135009766px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
}
.view-truck-container1 {
  flex: 0 0 auto;
  width: 1137px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.view-truck-container2 {
  flex: 0 0 auto;
  width: 1137px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.view-truck-container3 {
  flex: 0 0 auto;
  width: 1137px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.view-truck-content {
  left: 147px;
  width: 1189px;
  bottom: 32px;
  height: 671px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 0 0 48px 0;
  border-color: transparent;
  padding-left: 0 0 48px 0;
  padding-right: 0 0 48px 0;
  background-color: var(--dl-color-default-white);
}
.view-truck-column {
  width: 195px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.view-truck-tableheadercell {
  width: 100%;
  height: 41px;
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  background-color: var(--dl-color-gray-25);
}
.view-truck-tableheader {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.view-truck-text15 {
  color: var(--dl-color-gray-5001);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-tablecell {
  width: 100%;
  height: 88;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text17 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text19 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell01 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext01 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text21 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text23 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell02 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext02 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text25 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text27 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell03 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext03 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text29 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text31 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell04 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext04 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text33 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text35 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell05 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext05 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text37 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text39 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell06 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.view-truck-textandsupportingtext06 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text41 {
  color: var(--dl-color-gray-9001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-text43 {
  color: var(--dl-color-gray-5001);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-column1 {
  width: 180px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.view-truck-tableheadercell1 {
  width: 100%;
  height: 44;
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  background-color: var(--dl-color-gray-25);
}
.view-truck-tableheader1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.view-truck-text45 {
  color: var(--dl-color-gray-5001);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-tablecell07 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext07 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.view-truck-text46 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell08 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-text47 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-text49 {
  font-style: normal;
  font-family: Inter;
}
.view-truck-tablecell09 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-text50 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell10 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-text51 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell11 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-text52 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell12 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-text53 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell13 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.view-truck-text54 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-column2 {
  width: var(--dl-size-size-xxlarge);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.view-truck-tableheadercell2 {
  width: 250px;
  height: 41px;
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  background-color: var(--dl-color-gray-25);
}
.view-truck-tableheader2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.view-truck-text56 {
  color: var(--dl-color-gray-5001);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-tablecell14 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-badges {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-badge {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
}
.view-truck-frame-badgebase {
  display: flex;
  padding: 2px 8px 2px 6px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: var(--dl-color-success-50);
}
.view-truck-frame-dot {
  width: 8px;
  height: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
}
.view-truck-dot {
  top: 0.9999969601631165px;
  left: 1.0000121593475342px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-color: transparent;
}
.view-truck-text57 {
  color: var(--dl-color-success-7001);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell15 {
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-badges1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-badge1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
}
.view-truck-frame-badgebase1 {
  display: flex;
  padding: 2px 8px 2px 6px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: var(--dl-color-success-50);
}
.view-truck-frame-dot1 {
  width: 8px;
  height: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
}
.view-truck-dot1 {
  top: 0.9999969601631165px;
  left: 1.0000121593475342px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-color: transparent;
}
.view-truck-text58 {
  color: var(--dl-color-success-7001);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell16 {
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-badges2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-badge2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
}
.view-truck-frame-badgebase2 {
  display: flex;
  padding: 2px 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: #fd0000;
}
.view-truck-dot2 {
  width: 6px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-right: 7px;
}
.view-truck-text59 {
  color: #000000;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell17 {
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-frame-badgebase3 {
  display: flex;
  padding: 2px 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: #fd0000;
}
.view-truck-dot3 {
  width: 6px;
  height: 6px;
  position: relative;
  border-color: transparent;
  margin-right: 7px;
}
.view-truck-text60 {
  color: #000000;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell18 {
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-badges3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-badge3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
}
.view-truck-frame-badgebase4 {
  display: flex;
  padding: 2px 8px 2px 6px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: var(--dl-color-success-50);
}
.view-truck-frame-dot2 {
  width: 8px;
  height: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
}
.view-truck-dot4 {
  top: 0.9999969601631165px;
  left: 1.0000121593475342px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-color: transparent;
}
.view-truck-text61 {
  color: var(--dl-color-success-7001);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell19 {
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: 16px 24px;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-badges4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-badge4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
}
.view-truck-badge5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-frame-badgebase5 {
  display: flex;
  padding: 2px 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: #ffeb00;
}
.view-truck-frame-dot3 {
  width: 8px;
  height: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.view-truck-dot5 {
  top: 0.9999969601631165px;
  left: 1.0000121593475342px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-color: transparent;
}
.view-truck-text62 {
  color: var(--dl-color-orange-700);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-tablecell20 {
  height: 88px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.view-truck-badges5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.view-truck-badge6 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
}
.view-truck-frame-badgebase6 {
  display: flex;
  padding: 2px 8px 2px 6px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 16px;
  justify-content: center;
  background-color: var(--dl-color-success-50);
}
.view-truck-frame-dot4 {
  width: 8px;
  height: 8px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6px;
}
.view-truck-dot6 {
  top: 0.9999969601631165px;
  left: 1.0000121593475342px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-color: transparent;
}
.view-truck-text65 {
  color: var(--dl-color-success-7001);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 18px;
  margin-right: 0;
  margin-bottom: 0;
}
.view-truck-column3 {
  width: 195px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.view-truck-tableheadercell3 {
  width: 100%;
  height: 41px;
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  background-color: var(--dl-color-gray-25);
}
.view-truck-tableheader3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.view-truck-text66 {
  color: var(--dl-color-gray-5001);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-tablecell21 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext08 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text67 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-tablecell22 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext09 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text68 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-tablecell23 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
}
.view-truck-textandsupportingtext10 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text69 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-tablecell24 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext11 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text70 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-tablecell25 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-text71 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-tablecell26 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-textandsupportingtext12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text72 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-tablecell27 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px 8px 16px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.view-truck-textandsupportingtext13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-text73 {
  color: var(--dl-color-gray-9001);
  height: auto;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  line-height: 25px;
  margin-right: 0;
  margin-bottom: 0px;
}
.view-truck-container4 {
  flex: 0 0 auto;
  width: 131px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.view-truck-column4 {
  width: 180px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.view-truck-tableheadercell4 {
  width: 100%;
  height: 41px;
  display: flex;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
  background-color: var(--dl-color-gray-25);
}
.view-truck-tableheader4 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.view-truck-text74 {
  color: var(--dl-color-gray-5001);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-tablecell28 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-button {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button01 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase01 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-tablecell29 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-button02 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase02 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash21 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button03 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase03 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit21 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-tablecell30 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-button04 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase04 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash22 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button05 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase05 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit22 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-tablecell31 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-button06 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase06 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash23 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button07 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase07 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit23 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-tablecell32 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-button08 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase08 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash24 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button09 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase09 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit24 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-tablecell33 {
  width: 100%;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.view-truck-button10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase10 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash25 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase11 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit25 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-tablecell34 {
  width: 140px;
  height: 88px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-bottom: 0px;
}
.view-truck-button12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 4px;
  border-radius: 8px;
}
.view-truck-frame-buttonbase12 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-trash26 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-button13 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
}
.view-truck-frame-buttonbase13 {
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
}
.view-truck-edit26 {
  width: 20px;
  height: 20px;
  position: relative;
}
.view-truck-text75 {
  top: 278px;
  left: 206px;
  color: rgb(0, 0, 0);
  width: 36px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text76 {
  top: 278px;
  left: 339px;
  color: rgb(0, 0, 0);
  width: 36px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text77 {
  top: 278px;
  left: 647px;
  color: rgb(0, 0, 0);
  width: 36px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-text78 {
  top: 278px;
  left: 494px;
  color: rgb(0, 0, 0);
  width: 35px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.view-truck-frame132 {
  top: 149px;
  left: 180px;
  width: 395px;
  height: 56px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-navlink {
  display: contents;
}
.view-truck-rectangle5 {
  top: 0px;
  left: 0px;
  width: 202px;
  height: 56px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
  text-decoration: none;
}
.view-truck-text79 {
  top: 9px;
  left: 51px;
  color: rgba(255, 255, 255, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-truck-bithreedotsvertical2 {
  top: 9.153985023498535px;
  left: 376.3720703125px;
  width: 18.62793731689453px;
  height: 4.129032135009766px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
}
.view-truck-frame133 {
  top: 149px;
  left: 434px;
  width: 201.676513671875px;
  height: 56px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 175, 102, 1);
}
.view-truck-text81 {
  top: 9px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.view-truck-navlink1 {
  display: contents;
}
.view-truck-antdesignhomefilled {
  top: 150px;
  left: 39px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-decoration: none;
}
.view-truck-navlink2 {
  display: contents;
}
.view-truck-sv-icon {
  top: 370px;
  left: 41px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-decoration: none;
}
.view-truck-navlink3 {
  display: contents;
}
.view-truck-sv-icon1 {
  top: 590px;
  left: 41px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-decoration: none;
}
.view-truck-navlink4 {
  display: contents;
}
.view-truck-ellipse26 {
  top: 468px;
  left: 26px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.view-truck-navlink5 {
  display: contents;
}
.view-truck-image62 {
  top: 480px;
  left: 41px;
  width: 44px;
  height: 39px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.view-truck-image22 {
  left: -729px;
  width: 19px;
  bottom: 7px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.view-truck-navlink6 {
  display: contents;
}
.view-truck-pasted-image {
  top: 260px;
  left: 41px;
  width: 40px;
  height: 40px;
  position: absolute;
  text-decoration: none;
}
.view-truck-vector2 {
  top: 39px;
  right: 45px;
  width: 34px;
  height: 35px;
  position: absolute;
}
.view-truck-textinput {
  top: 308px;
  right: 179px;
  position: absolute;
}
.view-truck-evasearchfill {
  top: 316px;
  right: 189px;
  width: 24px;
  height: 22px;
  z-index: 100;
  position: absolute;
}
.view-truck-group5 {
  top: 208px;
  right: 208px;
  width: 36.61016845703125px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-add1 {
  top: 0px;
  left: 0px;
  width: 36.61016845703125px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.view-truck-ellipse201 {
  top: 0px;
  right: 0px;
  width: 37px;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.view-truck-ellipse21 {
  top: 0px;
  right: 0px;
  width: 37px;
  height: 36px;
  position: absolute;
  border-color: transparent;
}
.view-truck-image23 {
  top: 9px;
  left: 8px;
  width: 19px;
  height: 18px;
  z-index: 1;
  position: absolute;
  border-color: transparent;
}
